<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "ps.jpg" %>');">
  <div class="banner-content">
    <h1>THE TABLE</h1>
    <p class="accroche">Un café associatif où les adhérents se mettent à table !!</p>
    <p class="prochainement">La prog !!</p>
    <ul class="ranger">
      <% @actualites.each do |actualite| %>
      <li>
        <span class="twolastprod"><%= link_to actualite.calendrier&&actualite.calendrier.strftime("Le %d/%m/%Y à %H:%M"), actualite_path(actualite) %> - <%= link_to actualite.name, actualite_path(actualite) %></span>
      </li>
      <% end %>
    </ul>
    <%= link_to "Voir l'agenda complet", actualites_path, class: "all-agenda-button btn" %>


  </div>
</div>

<div class="container padded">
  <div class="row">
    <div class="class col-xs-12 col-sm-4">
      <%= link_to "Musique", actualites_path(classification: "musique"), class: "card-category mus" %>
    </div>
    <div class="class col-xs-12 col-sm-4">
      <%= link_to "Projections", actualites_path(classification: "cinema"), class: "card-category proj" %>
    </div>
    <div class="class col-xs-12 col-sm-4">
      <%= link_to "Débats", actualites_path(classification: "debat"), class: "card-category deb" %>
    </div>
  </div>
</div>


<div id="map" style="width: 100%; height: 400px;"></div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAzWcEbYakX7wdJDyADFGuT0CW1bKNerF8&amp;exp&amp;sensor=false&amp;libraries=places"></script>
<script type="text/javascript">
var myLatlng = new google.maps.LatLng(44.557800, 6.076191);

var myOptions = {
  zoom: 16,
  center: myLatlng,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title:"Lartgrafik"
});
</script>
